<template>
  <style>
    :host {
      display: flex;
      flex-flow: column;
      margin: 16px auto;
      padding: 16px;
      min-width: 24em;
      max-width: 40em;
      background-color: #FFF;
      border-radius: 2px;
      box-shadow: 0 1px 4px rgba(0,0,0,.2);
    }
    .title ::slotted(*) {
      margin: 0;
      font-size: 1.2em;
      color: #000;
    }
    .date ::slotted(*) {
      font-size: .9em;
      color: #888;
    }
    .content ::slotted(*) {
      text-align: justify;
      color: #444;
    }
  </style>

  <div class="title"><slot name="title"></slot></div>
  <div class="author"><slot name="author"></slot></div>
  <div class="date"><slot name="date"></slot></div>
  <div class="content"><slot></slot></div>
</template>

<script defer src="script.js"></script>
