:host {
  display: block;
  margin: 8px;
  padding: 16px;
  background-color: #F5F5F5;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
}

:host(.info) {
  background-color: green;
}

:host(.warning) {
  background-color: red;
}
