:root {
    --font-family: system-ui;
    --main-bg-color:#f2f2f2;

    --menu-font-color: #2f2f2f;
    --menu-border: 2px solid var(--additional-font-color);

    --titel-font-color: #0f0f0f;
    --additional-font-color: #6f6f6f;

    --content-font-color: #2f2f2f;
    --content-bg-color: #fff;
    --content-border: none;
    --content-border-radius: 1ch;
    --content-box-shadow: 0 1px 2px rgb(0,0,0,.2);
}
