:root {
    /* font parameters */
    --ui-font-family: system-ui;
    --ui-color: rgb(5%,5%,5%);
    --content-font-family: var(--ui-font-family);
    --title-color: rgb(0%,0%,0%);
    --content-color: rgb(5%,5%,5%);
    --additional-color: rgb(45%,45%,45%);

    /* container parameters */
    --background: teal;
    --ui-background: rgba(100%,100%,100%,.9);
    --ui-border: 1px solid transparent;
    --ui-border-radius: 8px;
    --ui-box-shadow: none;
    --content-background: #fff;
    --content-border: none;
    --content-border-radius: 8px;
    --content-box-shadow: none;

    /* filters */
    --ui-blur: 8px;
    --ui-drop-shadow: 0 4px 8px rgba(0,0,0,.2);
    --content-blur: 0;
    --content-drop-shadow: 0 1px 2px rgba(0,0,0,.2);

    /* hover */
    --ui-hover-background: rgba(85%,85%,85%,.5);
    --ui-hover-border: 1px solid rgb(85%,85%,85%);

    /* visual effects */
    --transition: all .12s ease-out;
}
