:root {
  --main-bg-color: #dfdfdf;

  --menu-font-color: #1f1f1f;
  --menu-border: 1px solid var(--additional-font-color);

  --titel-font-color: #1f1f1f;
  --additional-font-color: #6f6f6f;

  --content-font-color: #2f2f2f;
  --content-bg-color: #fff;
  --content-border: 1px solid var(--additional-font-color);
  --content-top-border: 8px solid var(--additional-font-color);
  --content-right-border: var(--content-border);
  --content-bottom-border: var(--content-border);
  --content-left-border: var(--content-border);
  --content-border-radius: 0;
}

body {
  font-family: 'Segoe UI', Roboto, Tahoma, sans-serif;
  color: var(--content-font-color);
  background-color: var(--main-bg-color);
}

a {
  color: inherit;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}
a.invalid {
  text-decoration: line-through;
}
